<!DOCTYPE html>
<html Lang="en">

<head>
    <meta charset="utf-8" content="width=device-width, initial-scale=1">
    <title>dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <link rel="stylesheet" type="text/css" href="style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-chartjs/2.6.5/vue-chartjs.full.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="javascripts.js"></script>

</head>

<body onload="myFunction()">

    <div class="wrapper" id="app">


        <nav class="sidebar">
            <div class="sidebarHeader">
                <div class="fullSidebarHeader ">
                    <img class="img-responsive " src="rapid_list_logo.png" />

                </div>




            </div>

            <div class="actualAccount">
                <p class="openSansCondensedBold18">Leanne Graham</p>
                <p class="openSansRegular11">account owner</p>
            </div>


            <ul class="list-unstyled components  openSandCondensedBold14">
                <li class="active ">
                    <a href="#">
                        <i class=" iconPadding dashboardIcon"></i>

                        <p class="paddingMenu "> DASHBOARD</p>
                        <li class="divider"></li>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i class="inventoryIcon iconPadding"></i>
                        <p class="paddingMenu"> INVENTORY</p>
                        <li class="divider"></li>
                    </a>
                </li>



                <li>
                    <a href="#">
                        <i class="listingsIcon iconPadding"></i>
                        <p class="paddingMenu">LISTING</p>
                        <li class="divider"></li>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i class="imagesIcon iconPadding"></i>
                        <p class="paddingMenu">IMAGES</p>
                        <li class="divider"></li>
                    </a>
                </li>

                <li>

                    <a href=".homeSubmenu" data-toggle="collapse">
                        <i class="settingsIcon iconPadding"></i>
                        <p class="paddingMenu">SETTINGS</p>
                        <li class="divider"></li>
                    </a>



                    <ul class="homeSubmenu collapse list-unstyled subsidebar ">

                        <li>
                            <a href="#" class="submenuPadding openSandCondensedBold14">COMPANY ACCOUNT</a>
                        </li>
                        <li class="divider"></li>

                        <li>
                            <a href="#" class="submenuPadding openSandCondensedBold14">PROFILE SETTINGS</a>
                        </li>
                        <li class="divider"></li>

                        <li>
                            <a href="#" class="submenuPadding openSandCondensedBold14">EBAY ACCOUNTS</a>
                        </li>
                        <li class="divider"></li>

                        <li>
                            <a href="#" class="submenuPadding openSandCondensedBold14">TEAM MEMBERS</a>
                        </li>
                        <li class="divider"></li>

                        <li>
                            <a href="#" class="submenuPadding openSandCondensedBold14">PLAN & PAYMENT</a>
                        </li>
                        <li class="divider"></li>

                        <li>
                            <a href="#" class="submenuPadding openSandCondensedBold14">INVENTORY SETTINGS</a>
                        </li>
                        <li class="divider"></li>
                    </ul>

                </li>


            </ul>


            <div class="sidebarNarrow ">

                <div class="openmenuiconPosition"><img class="imagePosition " src="png/openmenu_icon.png"/></div>
                
                    <img class="imagePosition" src="png/dashboard_icon.png" />
               
                    <img  class="imagePosition" src="png/inventory_icon.png " />
              
                    <img  class="imagePosition" src="png/listings_icon.png" />
                             
             
                    <img  class="imagePosition" src="png/settings_icon.png" />

               
            </div>




            <div class="otherOption">
                <p class="openSansRegular11 title">QUICK LINKS</p>
                <p class="openSandCondensedBold14">ADD NEW ITEM</p>
                <p class="openSandCondensedBold14">CREATE NEW LISTING</p>
            </div>
            <div class="sidemenuFooter  navbar-fixed-bottom">
                <p class="openSansRegular11">All rights reserved for World of Books Lts. 2017</p>
            </div>


        </nav>

        <header class="offsetHeader">
            <div class="noneDisplayHeader">
                
                                <div class="  textBlue">
                                    <div class="offsetChangedHeader headerBlock"></div>
                                    <div class="openSansRegular12 headerBlock quickCreateItem">
                                    <a>Add new inventory item</a>
                                    </div>
                                    <div class=" openSansRegular12 headerBlock quickCreateItem">
                                        <a>Create new listing</a>
                                    </div>
                                </div>
                            </div>
                            <div class="displayHeader">
                                <div class="searchIcon "></div>
                                <div class="searchInput">
                                    <input id="input" type="text" placeholder="SEARCH IN RAPIDLISTING" class="openSansRegular11 " v-model="searchText" @keyup="onSearchChanged">
                                </div>
                                <span class="closeIcon d-none" id="searchClear" @click="clearSearch">
                                </span>
                                <div class="dropdown account">
                                        <a class="dropdown-toggle openSansRegular11 account" data-toggle="dropdown"><span>XYZ EBAY ACCOUNT</span><span class="dropdownIcon  pull-right"></span>
                                        </a>
                                        <ul class="dropdown-menu accountMenu noBorderNoShadow">
                                            <li class="openSansRegular11 inlineBlock accountListMarkerBefore">
                                                <p>XYZ eBay account</p>
                                            </li>
                                            <span class="accountListMarker markerActive inlineBlock"></span>
                                            <li class="  accountDivider"></li>
                                            <li class="openSansRegular11  inlineBlock accountListMarkerBefore">
                                                <p> Anakin Skywalker eBay account</p>
                                            </li>
                                            <span class="accountListMarker markerActive inlineBlock"></span>
                                            <li class=" accountDivider"></li>
                                            <li class="openSansRegular11  inlineBlock accountListMarkerBefore">
                                                <p> Han Solo eBay account</p>
                                            </li>
                                            <span class=" accountListMarker markerSold inlineBlock"></span>
                                        </ul></div>
                                    <span class=" nav-item dropdown ">
                                        <a class="notificationIcon  dropdown-toggle iconSize" data-toggle="dropdown" > </a>
                                        <ul class="dropdown-menu row noBorderNoShadow" id="leftPadding">
                                            <li class="col-md-10 openSansRegular11 notificationTopMargin">
                                                <p>eBay order job finished succesfully</p>
                                            </li>
                                            <li class="col-md-2 openSansRegular11Green notificationTopMargin">07:26</li>
                                            <li class="col-md-12 notificationDivider"></li>
                                            <li class="col-md-10 openSansRegular11 notificationTopMargin">
                                                <p>eBay order job finished succesfully</p>
                                            </li>
                                            <li class="col-md-2 openSansRegular11Green notificationTopMargin">07:26</li>
                                            <li class="col-md-12 notificationDivider"></li>
                                            <li class="col-md-10 openSansRegular11 notificationTopMargin">
                                                <p>eBay order job finished succesfully</p>
                                            </li>
                                            <li class="col-md-2 openSansRegular11Green notificationTopMargin">07:26</li>
                                            <li class="col-md-12 notificationDivider"></li>
                                            <li class="col-md-10 openSansRegular11 notificationTopMargin">
                                                <p>eBay order job finished succesfully</p>
                                            </li>
                                            <li class="col-md-2 openSansRegular11Green notificationTopMargin">07:26</li>
                                            <li class="col-md-12 notificationDivider"></li>
                
                                        </ul>
                
                
                
                                    </span>
                                </div>
                                <span class="addIcon"  @click="changeHeader"></span><span class=" logoutIcon "></span>
        </header>
        <div id="resultList"  class="d-none">
            <ul class="submenu inlineBlock">
                <div class=" listhead resultInvItems inlineBlock">
                    <li >
                        <div class="openSandCondensedBold14Blue resultWideTitle inlineBlock">USERS</div>
                        <div class="inlineBlock" ><a class=" openSansRegular11 textBlue " href="#">Show all results</a></div>
                    </li>
                </div>
            <div class="row openSansRegular14 resultInvItemsList">
                <li>
                    <div class="searchResultMargin">Anakin Skywalker</div>
                </li>
                <li class="searchResultdivider"></li>
                <li>
                    <div  class="searchResultMargin" > Han Solo </div>
                </li>
                <li class="searchResultdivider"></li>
                <li>
                    <div  class="searchResultMargin">Leanne Graham</div>
                </li>
                <li class="searchResultdivider"></li>
                <li>
                    <div  class="searchResultMargin">Kurtis Weissnat</div>
                </li>
                <li class="searchResultdivider"></li>
                <li>
                    <div  class="searchResultMargin">Ervin Howell</div>
                </li>
            </div>
            <div class="listhead resultListings">
                <li >
                    <div class="openSandCondensedBold14Blue resultWideTitle inlineBlock">ITEMS</div>
                    <div class="inlineBlock" ><a class=" openSansRegular11 textBlue " href="#">Show all results</a></div>
                </li>
            </div>
            <div class="openSansRegular14 resultListingsList inlineBlock">
                <li class="inlineBlock">
                    <div  class="searchResultMargin inlineBlock resultListMarkerBefore">item1</div>
                    <span class="resultListMarker markerActive inlineBlock"></span>
                </li>
                <li class="col-md-12 searchResultdivider"></li>
                <li class="inlineBlock">
                    <div  class="searchResultMargin inlineBlock resultListMarkerBefore">item2</div>
                    <span class="resultListMarker markerActive inlineBlock"></span>
                </li>
                <li class="col-md-12 searchResultdivider"></li>
                <li class="inlineBlock">
                    <div  class="searchResultMargin inlineBlock resultListMarkerBefore">item3</div>
                    <span class="resultListMarker markerSold inlineBlock"></span>
                </li>
                <li class="col-md-12 searchResultdivider"></li>
                <li class="inlineBlock">
                    <div  class="searchResultMargin inlineBlock resultListMarkerBefore">item3</div>
                    <span class="resultListMarker markerUnsold inlineBlock"></span>
                </li>
            </div>
            </ul>
        <ul class="submenu inlineBlock secondColPad">
            <div class=" listhead resultCities inlineBlock">
                <li>
                    <div class="openSandCondensedBold14Blue resultNarrowTitle inlineBlock">CITIES</div>
                </li>
            </div>
            <div class="openSansRegular14">
                <li>
                    <div  class="searchResultMargin">South Elvis</div>
                </li>
                <li class="searchResult2divider"></li>
                <li>
                    <div  class="searchResultMargin">Lebsackbury</div>
                </li>
                <li class="searchResult2divider"></li>
                <li>
                    <div  class="searchResultMargin">Howemouth</div>
                </li>
                <li class="searchResult2divider"></li>
                <li>
                    <div  class="searchResultMargin">Roscoeview</div>
                </li>
            </div>
        </ul>
        </div>
        <div id="content" class="container-fluid">

            <main>
                <div class="row progmenu">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 ">
                        <p class="text-center  openSandCondensedBold24 progressTitlePosition">YOUR ACCOUNT IS NOT YET COMPLETE</p>

                        <ul class="progressbar openSansRegular14">
                            <li class="active"><p>Set up your companies account data</p></li>

                            <li class="active"><p>Join an eBay account to your profile</p></li>
                            <li><p>Invite your colleagues</p></li>
                            <li><p>Create an invertory item</p></li>
                            <li><p>List an item on eBay</p></li>
                        </ul>

                    </div>
                    <div class="col-md-1">

                    </div>


                </div>
                <div class="row visitorStat">

                    <div class="col-md-2"></div>

                    <div class="col-md-3 rightBorder">
                        <p class="title text-center openSandCondensedBold24 visitorStatTitlePosition">INVENTORY LEVELS</p>
                        <bar-chart :data="barChartData" :options="barChartOptions" :height="230" class="positionBarChart"></bar-chart>
                    </div>
                    <div class="col-md-6 row ">
                        <p class="title text-center openSandCondensedBold24 visitorStatTitlePosition">LISTING STATISTICS</p>
                        <doughnut-chart :data="doughnutChartData" :options="doughnutChartOptions" :height="165" :width="165" class="col-md-3 positionDoughnutChart"></doughnut-chart>
                        <div class="col-md-8 ">
                            <div class="row">
                                <p class="totalSumNum ">{{sum}}</p>
                                <p class="totalSum textGreen">total listing</p>
                            </div>
                            <div class="row positionDoughnutChartLabels">
                                <div class="col-md-3" v-for="data in doughnutData">
                                    <div class="row">
                                        <div class="value openSandCondensedBold24 col-md-6">{{data.value}}</div>
                                        <span class="valueColor col-md-6" v-bind:style="{ color: data.color}"></span>
                                    </div>
                                    <div class="row">
                                        <div class="label openSansRegular11 col-md-12">{{data.label}}</div>
                                    </div>
                                    <div class="row">
                                        <div class="percent openSansRegular18 col-md-12">{{data.percent}}</div>
                                    </div>
                                </div>
                               
                            </div>
                            <div class="row openSansRegular14 text-center">
                                    <p>13.09.2017-20.09.2017</p>
                                </div>

                        </div>

                    </div>
                    <div class="col-md-1"></div>

                </div>

                <div class="row listcontent">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="row ">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-5 listTitlePadding">
                                        <p class="openSandCondensedBold24 listcontentTitlePosition">SOLD ITEMS IN LAST 24 HRS</p>
                                    </div>

                                    <div class="col-md-1 ">
                                        <a class="textBlue openSansRegular14 pull-right listcontentTitlePosition">see full list</a>
                                    </div>
                                    <div class="col-md-5"></div>
                                    <div class="col-md-1">
                                        <a class="textBlue openSansRegular14  pull-right  listcontentTitlePosition">see full list</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row  ">

                                <table class="col-md-6 ">
                                    <tr class="row listItemsPosition tableRightMargin openSansRegular14" v-for="item in items">
                                        <td class="col-md-8 ">
                                            {{item.title}}
                                        </td>
                                        <td class="col-md-2 ">
                                            {{item.id}}
                                        </td>
                                        <td class="col-md-2 ">
                                            {{item.userId}}
                                        </td>
                                    </tr>
                                </table>


                                <table class="col-md-6">
                                    <tr class="row openSansRegular14 listItemsPosition" v-for="item in items">
                                        <td class="col-md-6 ">
                                            {{item.title}}
                                        </td>
                                        <td class="col-md-2 ">
                                            {{item.id}}
                                        </td>
                                        <td class="col-md-2">
                                            {{item.userId}}
                                        </td>
                                    </tr>
                                </table>

                            </div>


                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>

                <div class="row userperformance">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="row ">
                            <div class="col-md-12 text-center userperfTitlePosition openSandCondensedBold24">USER PERFORMANCE</div>
                            <div class="row">

                                <ul class="list-inline userPosition">
                                    <li class="list-inline-item col-md-2" v-for="user in myusers">
                                        <div>
                                            <img class="avatar center-block img-responsive" :src="user.thumbnailUrl" />
                                        </div>
                                        <div class="listtext text-center openSansRegular14"> {{user.name}}</div>
                                        <div class="openSansRegular14  text-center textGreen"> {{user.city}}</div>
                                    </li>
                                </ul>
                            </div>

                        </div>

                    </div>
                    <div class="col-md-1"></div>

                </div>


            </main>

            <footer class="row footer openSansRegular11">
                <div class="col-md-2"></div>
                <div class="col-md-1 ">
                    <p>Home</p>
                </div>
                <div class="col-md-1">
                    <p>Privary policy</p>
                </div>
                <div class="col-md-1">
                    <p>Terms of Service</p>
                </div>
                <div class="col-md-1">
                    <p>Help Center</p>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-2"></div>
                <div class="col-md-1 ">
                    <span class="facebookIcon"></span>
                    <span class="twitterIcon"></span>
                    <span class="gplusIcon  "></span>
                </div>

            </footer>



        </div>



    </div>

</body>

</html>